<br>
    <div class="row">

        <div class="col">
        </div>
        
        <div class="col-5">
            <h1 class="titulo-effect">El Restaurante de la Abuela</h1>
        </div>

        <div class="col">            
        </div>

    </div>

    

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <app-menu-rest-pie-lulu></app-menu-rest-pie-lulu> 
        </div>
         
        <div class="col-md-9 box">
            <app-lista-comentarios></app-lista-comentarios>
        </div>

    
    </div>
   
</div>